{% extends 'base.html.twig' %}

{% block title %}Edit Exams{% endblock %}

{% block body %}
    <h1>Edit Exams</h1>

    {{ include('exams/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exams_index') }}">back to list</a>

    {{ include('exams/_delete_form.html.twig') }}
{% endblock %}
