{% extends 'base.html.twig' %}

{% block title %}New Subjects{% endblock %}

{% block body %}
    <h1>Create new Subjects</h1>

    {{ include('subjects/_form.html.twig') }}

    <a href="{{ path('subjects_index') }}">back to list</a>
{% endblock %}
