{% extends 'base.html.twig' %}

{% block title %}New Universities{% endblock %}

{% block body %}
    <h1>Create new Universities</h1>

    {{ include('universities/_form.html.twig') }}

    <a href="{{ path('universities_index') }}">back to list</a>
{% endblock %}
